/* intro */
#b_main-visual{
  padding-top: 60px;
}
#b_main-visual{
  background-image: url(../images/intro/banner.png);
  width: 100%;
  height: 150px;
  /* position: relative; */
  background-repeat: no-repeat;
  padding-top: 60px;
  color: #ffffff;
  font-family: 'Noto Sans KR';
  font-size: 30px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0.5em;
  text-align: center;
}

#b_main-visual p{
  text-align: center;
  line-height: 29px;
  /* line-height: 100%; */
  font-size: 20px;
  padding-top: 40px;
}

#b_intro img{
  height: 292px;
  width: 335px;
  padding-left: 20px;
  top: 418px;
  border-radius: 0px;
  padding-top: 40px;
}

#b_intro h4{
  margin-top:40px;
  text-align: left;
  font-size: 30px;
  color: #D1D1D1;
  line-height: 43px;
  line-height: 100%;
  font-weight: bold;
}


#b_intro p{
  margin-top: 20px;
  font-size: 15px;
  line-height: 22px;
  text-align: justify;
  padding-left: 20px;
  margin-right: 20px;
}
