/* 인사제도 */

#s-main-visual {
    padding-top: 90px;
    padding-bottom: 0;
}

#s-main-visual h2 {
    font-size: 50px;
    letter-spacing: 0.5em;
    text-align: center;
    padding-top: 126px;
    color: var(--main-color1);
}

#s-main-visual .s-container {
    height: 327px;
    position: relative;
    background-image: url(/images/post/main.png);
    background-size: cover;
}

#s-intro .s-container {
    background-color: #eeeeee;
    height: 327px;
    font-size: 40px;
    color: var(--main-color1);
    display: flex;
    justify-content: center;
    align-items: center;
}

h4 {
    font-size: 40px;
    margin-top: 65px;
    margin-bottom: 80px;
    margin-left: 98px;
}

#s-policy {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 142px;
}

#s-policy .s-container .s-col {
    width: 338px;
    height: 338px;
    border: 10px solid #08107B;
    border-radius: 50%;
    float: left;
    margin-right: 60px;
    margin-left: 60px;
}

#s-policy .s-container h3 {
    font-size: 40px;
    color: #3467CC;
    font-weight: 500;
    text-align: center;
    margin-top: 105px;
}

#s-policy .s-container p {
    font-size: 24px;
    text-align: center;
    color: var(--text-color-light);
}

#s-policy .s-container .s-col img {
    display: flex;
    margin-left: 360px;
    margin-top: -100px;
}

#s-system .s-container {
    background-image: url(/images/post/system.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #eeeeee;
    height: 654px;
}

#s-h4 {
    position: absolute;
    margin-top: 30px;
}



#s-identity .s-container {
    background-image: url(/images/post/frame.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
}

#s-h42 {
    position: absolute;
    margin-top: 50px;
}